<h1>Editting book</h1>

<%= form_with model:@book, local:true do |f| %>

<div>
  <label>Title</label>
  <%= f.text_field :title %>
</div>
<div>
  <label>Body</label>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.submit "Update Book" %>
</div>

<% end %>

<%= link_to "Show", book_path %> | <%= link_to "Back", books_path %>